.container {
  display: flex;
  padding: 0;
  margin: 0 0 5px 0;
  width: 100%;
  list-style: none;
}

.item {
  width: var(--size);
  font: var(--font-text);
  color: var(--color-text);
  text-align: center;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
